<header>
	<div>
		<div class="nav-item">
			<div onclick="toggleSideNav(0)">Test</div>
		</div>
		<div class="nav-item">
			<div>Test</div>
		</div>
		<div class="nav-item">
			<div>Test</div>
		</div>
		<div class="nav-item">
			<div>Test</div>
		</div>
		<div class="nav-item">
			<div onclick="toggleSideNav(1)">Test</div>
		</div>
	</div>
</header>